
<h3>How to Deploy an Angular App to Firebase Hosting <small><a target="_blank" href="https://www.youtube.com/watch?v=aICeVhu2mAE">link</a></small></h3>

<p>
  Posted by <a target="_blank" href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA">Angular Firebase</a> on <a target="_blank" href="https://www.youtube.com/">youtube</a>
  <br>Published on Apr 19, 2017
</p>


<br>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/aICeVhu2mAE?start=16" frameborder="0" allowfullscreen></iframe>
</div>
