<hr>
<div class="row">
  <div class="col-12">
    <div class="row">

      <div class="col-3">
        <form [formGroup]="cityOrderByForm">
          <div class="btn-group-vertical">
            <h5>Sorting</h5>

            <!-- order by key -->
            <button type="button" class="btn btn-success my-1" (click)="queryOrderByKey()">Order by key</button><hr>

            <!-- order by child -->
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>city</option>
              <option>zip</option>
              <option>mayor</option>
            </select>
            <button type="button" class="btn btn-success my-1" (click)="queryOrderByChild()">Order by Child</button><br>

            <h5>Filtering</h5>

            <!-- equal to -->
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>city</option>
              <option>zip</option>
              <option>mayor</option>
            </select>
            <span>Equal to</span>
            <input type="text" class="form-control" formControlName="equal">
            <button type="button" class="btn btn-success my-1" (click)="queryEqualTo()">Equal to</button><hr>

            <!-- start at -->
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>city</option>
              <option>zip</option>
              <option>mayor</option>
            </select>
            <span>Start at</span>
            <input type="number" class="form-control" formControlName="limit">
            <button type="button" class="btn btn-success my-1" (click)="queryStartAt()">Start at</button><hr>

            <!-- end at -->
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>city</option>
              <option>zip</option>
              <option>mayor</option>
            </select>
            <span>End at</span>
            <input type="number" class="form-control" formControlName="limit">
            <button type="button" class="btn btn-success my-1" (click)="queryEndAt()">End at</button><hr>

            <!-- limit to first -->
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>city</option>
              <option>zip</option>
              <option>mayor</option>
            </select>
            <span>Limit to First</span>
            <input type="number" class="form-control" formControlName="limit">
            <button type="button" class="btn btn-success my-1" (click)="queryLimitToFirst()">Limit to First</button><hr>

            <!-- limit to last -->
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>city</option>
              <option>zip</option>
              <option>mayor</option>
            </select>
            <span>Limit to Last</span>
            <input type="number" class="form-control" formControlName="limit">
            <button type="button" class="btn btn-success my-1" (click)="queryLimitToLast()">Limit to Last</button>
          </div>
        </form>
      </div>

      <div class="col">

        <!-- always use async when using ngfor comming from firebase observable, unless it wont work -->
        <div *ngFor="let state of states | async">
          <div class="alert alert-warning" role="alert">
            <small><strong>CITY:</strong> {{ state.city }},</small>
            <small><strong>ZIP:</strong> {{ state.zip }},</small>
            <small><strong>MAYOR:</strong> {{ state.mayor }}</small>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
